<!DOCTYPE html>
<html>
   <head>
      <title>File Metadata</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="./style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="position-relative overflow-hidden p-md-4 m-3 text-center bg-body-tertiary">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
          <h1 class="display-3 fw-bold">File Metadata Microservice</h1>
          <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
              <div>
                <div class="col-md-6">
                  <input id="inputfield" type="file" name="upfile" class="form-control-file m-3">
                </div>
                <button id="button" type="submit" class="btn btn-primary mt-3">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="text-white me-md-3 pt-4 px-3 pt-md-5 px-md-5 pb-4 text-center overflow-hidden how-to-use">
          <div class="my-3 py-3">
            <h2 class="display-5">Usage</h2>
            <p class="lead">Upload a file to instantly view its size in bytes.</p>
          </div>
        </div>
        <div class="bg-body-tertiary me-md-3 pt-4 px-3 pt-md-5 px-md-5 pb-4 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">GitHub Repository</h2>
            <p class="lead"><a class="text-decoration-none" href="https://www.github.com/fdezar/boilerplate-project-filemetadata">https://www.github.com/fdezar/boilerplate-project-filemetadata</a></p>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   </body>
</html>

