body {
  background-color: #d0ddee;
}

.container {
  max-width: 960px;
}

.how-to-use {
  background-color: #193b8d;
}

.btn-primary {
  background-color: #193b8d;
  border: 3px solid #193b8d;
  font-size: 18px;
}

a {
  color: #193b8d;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

input {
  font-size: 18px;
}